<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>

<header style="background: rgba(0,0,0,0.8); padding: 1rem; color: white; text-align: center; margin-bottom: 2rem;">
  This is a header
</header>
<section>
{% block body %}{% endblock %}
</section>
<footer style="background: rgba(0,0,0,0.1); padding: 1rem; color: black; text-align: center; margin-top: 1rem;">
  This is a footer
</footer>

<script src="//instant.page/5.1.0" type="module"
  integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>

  </body>
</html>
