

<section class="mw6 center">


	<div class="pv3 tc gray">

  {{> partial-horse}}

	</div>



	<div class="lh-copy">

		<div class="pv3">
		
			<h3 class="bg-red white pa2 pl3 b">THINGS HORSES LIKE TO EAT</h3>
		
			<ul class="mt0 pl4 light-silver">
				{{#each snacks}}
				<li><span class="near-black">{{this}}</span></li>
				{{/each}}
			</ul>

		</div>	

<!-- 	  <div class="bt bw5 light-gray"></div> -->

		<div class="mb5">
		
			<h3 class="bg-red white pa2 pl3 b">CELESTIAL BODIES <i><small>(complex array example)</small></i></h3>
			{{#each planet_group}}
				<h4 class="mb0 pl3 f4">{{title}}</h4>
				<ul class="mt0 pl4 light-silver">
					{{#each planets}}
					<li><span class="near-black">{{name}}{{#if note}} <i><small>({{note}})</small></i>{{/if}}</span></li>
					{{/each}}
				</ul>
				{{/each}}
		</div>	



		<div class="mb5 bg-black white pa4 mt3 f4">	
			Refer to <a href="http://stereotk.com" class="link white underline">http://stereotk.com</a> for complete documentation <span class="light-silver">(and more exciting examples like these)</span>
		</div>

	</div>


</section>
