<div class="dt h-100 center" x-data="welcome()">
	<div class="dtc v-mid">
		<span class="f-headline" @click="rain_spell()">{{welcome_icon}}</span>
  </div>
</div>
		
<script>
function welcome(){
	return {
		rain_spell: function(){
			alert('o Gabriel fac pluat. o poseidon, ut pluvia. ne pluat o Neptune beatitudinis. o deus, nam ego filius tuus fac pluvia. Sic fiat semper.')
		}
	}
}
</script>