
  <a href="/" class="f2 tracked-tight near-black no-underline">▲▼</a>

  <div class="f5 mb2 fw7 lh-title"><a class="near-black no-underline" href="/">darkwave &mdash; 0.5.0</a></div>

  <div class="bw2 bt b--near-black mb3"></div>

  <!-- 		sidebar menu -->
  <div class="sidebar-nav">

    <div class="mb2">
      <a href="/docs/sample" class="near-black no-underline fw7 f6">URL Routing</a>
    </div>
    <div class="pl1 f7">
      <a href="/docs/what/test" class="near-black no-underline dib mb2 lh-title">Routing with HTTP
        verbs</a><br />
      <a href="/docs#routing-any-all" class="near-black no-underline dib mb2 lh-title">Accepting any/all matching HTTP
        requests</a>
    </div>

  </div>